.randomizer{
	position: absolute;
	left: 396px;
	top: 564px;
	opacity: 0.0;
	width: 110px;
	height: 110px;
	
	-webkit-transition-timing-function: linear;
	-webkit-transition: 1s;
	
	-moz-transition-timing-function: linear;
	-moz-transition: 1s;
	
	-ms-transition-timing-function: linear;
	-ms-transition: 1s;
	
	-o-transition-timing-function: linear;
	-o-transition: 1s
	
}
.dashboardBackGround {
	position: absolute;
	left: 0;
	top: 0;
	width: 720px;
	height: 1280px;  
}

.dashboardCircleAll {
	position: absolute;
	left: 0;
	top: 0;
	width: 720px;
	height: 1280px;
}
.whelImage{
	width: 65px;
	height: 105px;
	/*-webkit-transition: 0.1s;*/
	-webkit-transition-timing-function: linear;
	
	/*-moz-transition:0.1s;
	-moz-transition-timing-function:linear;
	
	-ms-transition:0.1s;
	-ms-transition-timing-function:linear;
	
	-o-transition:0.1s;
	-o-transition-timing-function:linear;*/
	
	
}
.leftWhell{
	position: absolute;
	left: 225px;
	top: 430px;
}
.rightWhell{
	position: absolute;
	left: 430px;
	top: 430px;
}

.carImage {
	position: absolute;
	left: 0;
	top: 0;
	width: 720px;
	height: 1280px;
}

.batteryLevelCaption {
	position: absolute;
	left: 15px;
	top: 200px;
}

.weatherCaption {
	position: absolute;
	left: 545px;
	top: 200px;
}

.dashboardLineLong {
	width: 120px;
	height: 10px;
}

.leftFrontPressure {
	position: absolute;
	left: 30px;
	top: 370px;
}

.leftFrontLine {
	position: absolute;
	left: 130px;
	top: 462px;
	-webkit-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	transform: rotate(20deg);
}

.rightFrontPressure {
	position: absolute;
	left: 500px;
	top: 340px;
}

.rightFrontLine {
	position: absolute;
	left: 470px;
	top: 445px;
	
	-webkit-transform: rotate(150deg);
	-moz-transform: rotate(150deg);
	-ms-transform: rotate(150deg);
	-o-transform: rotate(150deg);
	transform: rotate(150deg);
	
}

.engineStatus {
	position: absolute;
	left: 520px;
	top: 540px;
}

.engineStatus .gearboxStatus {
	position: absolute;
	left: 110px;
	top: 22px;
}

.engineStatus .textIndicator {
	position: absolute;
	top: 32px;
	right: 92px;
	
	white-space: nowrap;
	text-align: right;
}

.engineStatus .statusIndicator {
	position: absolute;
	top: 62px;
	right: 92px;
	white-space: nowrap;
	text-align: right;
}

.leftRearPressure {
	position: absolute;
	left: 20px;
	top: 750px;
}

.leftRearLine {
	position: absolute;
	left: 115px;
	top: 842px;
	
	-webkit-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	transform: rotate(15deg);
}

.rightRearPressure {
	position: absolute;
	left: 510px;
	top: 750px;
}

.rightRearLine {
	position: absolute;
	left: 480px;
	top: 842px;
	
	-webkit-transform: rotate(165deg);
	-moz-transform: rotate(165deg);
	-ms-transform: rotate(165deg);
	-o-transform: rotate(165deg);
	transform: rotate(165deg);
}

.avgEConsumption {
	position: absolute;
	left: 15px;
	top: 960px;
}

.rearLDisplay {
	position: absolute;
	left: 280px;
	top: 960px;
}
.rearRDisplay {
	position: absolute;
	left: 500px;
	top: 960px;
}

.batteryImage {
	width: 37px;
	height: 23px;
}
.batteryProgressBar{
	position: absolute;
	left: -9px;
	top: 205px;
	width: 395px;
	height: 50px;
}
.exteriorBrightnessElement{
	position: absolute;
	right: 30px;
	top: 150px;
}
.exteriorBrightnessProgressBar{
	position: absolute;
	left: -25px;
	top: 0;
	width: 280px;
	height: 50px;
}
.dayNightElement{
	position: absolute;
	top: 150px;
	left: 30px;
	width: 65px;
	height: 65px;
}
.batteryElement{
	position: absolute;
	left: 15px;
	top: 25px;
	width: 300px;
	height: 200px;
}
.batteryElement .batteryImage {
	position: absolute;
	left: 15px;
	top: 260px;
}

.batteryElement	.batteryStatus {
	position: absolute;
	left: 65px;
	top: 253px;
}

.batteryElement	.batteryRange {
	position: absolute;
	left: 150px;
	top: 253px;
}

.weatherElement .weatherStatus {
	position: absolute;
	right: 30px;
	top: 227px;
}

.weatherElement .weatherCity {
	position: absolute;
	right: 30px;
	top: 275px;
}

.avgConsumptionElement .batteryImage {
	position: absolute;
	left: 15px;
	top: 990px;
}

.avgConsumptionElement .avgConsumptionCaption {
	position: absolute;
	left: 65px;
	top: 990px;
}

.avgConsumptionElement .avgConsumptionStatus {
	position: absolute;
	left: 15px;
	top: 1020px;
}

.dashboardButton {
	width: 90px;
	height: 55px;
}

.dashboardButtonOpacity {
	opacity: 0.5;
}

.dashboardButton .dashboardButtonText {
	position: relative;
	text-align: center;
	top: -45px
}

.rearLButton {
	position: absolute;
	left: 280px;
	top: 990px;
}

.rearRButton {
	position: absolute;
	left: 500px;
	top: 990px;
}

.padlocInactive {
	width: 45px;
	height: 45px;
}

.padlocActive {
	width: 45px;
	height: 45px;
}

.leftPadlock {
	position: absolute;
	left: 200px;
	top: 700px;
	-webkit-transition-timing-function: linear;
	-webkit-transition: 2s;
	
	-moz-transition-timing-function: linear;
	-moz-transition: 2s;
	
	-ms-transition-timing-function: linear;
	-ms-transition: 2s;
	
	-o-transition-timing-function: linear;
	-o-transition: 2s
}

.rightPadlock {
	position: absolute;
	left: 480px;
	top: 700px;
	-webkit-transition-timing-function: linear;
	-webkit-transition: 2s;
	
	-moz-transition-timing-function: linear;
	-moz-transition: 2s;
	
	-ms-transition-timing-function: linear;
	-ms-transition: 2s;
	
	-o-transition-timing-function: linear;
	-o-transition: 2s;
}

.childLock {
	position: absolute;
	left: 45px;
	top: 625px;
	width: 150px;
	height: 70px;
}

.childLockText {
	position: absolute;
	left: 0;
	top: 10px;
	width: 150px;
	height: 80px;
	text-align: center;
	-webkit-transition-timing-function: linear;
	-webkit-transition: 1s;
	
	-moz-transition-timing-function: linear;
	-moz-transition: 1s;
	
	-ms-transition-timing-function: linear;
	-ms-transition: 1s;
	
	-o-transition-timing-function: linear;
	-o-transition: 1s;
}

.dashboardLineShort {
	width: 95px;
	height: 11px;
}

.childLockLine {
	position: absolute;
	left: 75px;
	top: 80px;
	
	-webkit-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	transform: rotate(15deg);
}

.dashboardCircle {
	width: 110px;
	height: 110px;
}

.frontLightsButton {
	position: absolute;
	left: 254px;
	top: 313px;
	opacity: 0.0;
	width: 110px;
	height: 110px;
	-webkit-transition-timing-function: linear;
	-webkit-transition: 1s;
	
	-moz-transition-timing-function: linear;
	-moz-transition: 1s;
	
	-ms-transition-timing-function: linear;
	-ms-transition: 1s;
	
	-o-transition-timing-function: linear;
	-o-transition: 1s;
}

.rearLightsButton {
	position: absolute;
	left: 230px;
	top: 880px;
	opacity: 0.0;
	width: 110px;
	height: 110px;
	-webkit-transition-timing-function: linear;
	-webkit-transition: 1s;
	
	-moz-transition-timing-function: linear;
	-moz-transition: 1s;
	
	-ms-transition-timing-function: linear;
	-ms-transition: 1s;
	
	-o-transition-timing-function: linear;
	-o-transition: 1s;
}
.dashboardFrontLightsActive {
	position: absolute;
	left: 0;
	top: 0;
	width: 720px;
	height: 1280px;
	-webkit-transition-timing-function: linear;
	-webkit-transition: 1s;
	
	-moz-transition-timing-function: linear;
	-moz-transition: 1s;
	
	-ms-transition-timing-function: linear;
	-ms-transition: 1s;
	
	-o-transition-timing-function: linear;
	-o-transition: 1s;
	
}
.dashboardRearLightsActive {
	position: absolute;
	left: 0;
	top: 0;
	width: 720px;
	height: 1280px;
	-webkit-transition-timing-function: linear;
	-webkit-transition: 1s;
	
	-moz-transition-timing-function: linear;
	-moz-transition: 1s;
	
	-ms-transition-timing-function: linear;
	-ms-transition: 1s;
	
	-o-transition-timing-function: linear;
	-o-transition: 1s;
	
	}
.dashboardBreakLightsActive {
	position: absolute;
	left: 0;
	top: 0;
	width: 720px;
	height: 1280px;
	-webkit-transition-timing-function: linear;
	-webkit-transition: 1s;
	
	-moz-transition-timing-function: linear;
	-moz-transition: 1s;
	
	-ms-transition-timing-function: linear;
	-ms-transition: 1s;
	
	-o-transition-timing-function: linear;
	-o-transition: 1s;
	
	}	
.rearLightsImage {
	opacity: 0;
}

.frontLightsImage {
	opacity: 0;
}
.dashBoardWeatherSun{
	width: 110px;
	height: 110px;
}
.dashBoardWeatherCloudy{
	width: 110px;
	height: 110px;
}
.dashBoardWeatherThunder{
	width: 110px;
	height: 110px;
}
.dashBoardWeatherIcon{
	position: absolute;
	left: 425px;
	top: 165px;
}
.dayNight{
	width:100%;
	height: 100%;
	-webkit-transition-timing-function: linear;
	-webkit-transition: 1s;
	
	-moz-transition-timing-function: linear;
	-moz-transition: 1s;
	
	-ms-transition-timing-function: linear;
	-ms-transition: 1s;
	
	-o-transition-timing-function: linear;
	-o-transition: 1s
}

/* styles spec. to HVAC widget app
*/

.bottomPanelLogoImg {
	background: url('../images/intel_logo_blue.png') no-repeat center !important;
}

.bottomPanelLogo {
	position: absolute;
	left: 205px !important;
	top: 49px;
	width: 300px !important;
	height: 150px;
}
