.statusIndicatorClass{
	width:180px;
	height:85px;
}
.statusIndicatorClass .boxIconText{
	position: absolute;
	top: 8px;
	left: 15px;
}
.statusBox .textIndicator{
	position: absolute;
	left:15px;	
	top:30px
}
.statusBox .statusIndicator{
	position: absolute;
	left:15px;
	top:60px; 
}
.corner{
	width:7px;
	height:7px;
}
.leftTopCorner{
	position: absolute;
	left:0;
	top:0; 
}
.leftBottomCorner{
	position: absolute;
	left:0;
	bottom:0; 
	-webkit-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-ms-transform:rotate(270deg);
	-o-transform:rotate(270deg);
	transform:rotate(270deg);
}
.rightTopCorner{
	position: absolute;
	right:0;
	top:0; 
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	transform:rotate(90deg);
	
}
.rightBottomCorner{
	position: absolute;
	right:0;
	bottom:0; 
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}